---
import Baseof from '../layouts/Baseof.astro';
import HomeReasons from '../components/Home_reasons.astro';
import HomeFactory from '../components/Home_factory.astro';
import HomeAgent from '../components/Home_agent.astro';
import HomeBenefit from '../components/Home_benefit.astro';
import SlideshowMain from '../components/Slideshow_main.jsx';

import Poster from '../components/Poster.astro';
import data from '../data/home.json';

import SlideshowClient from '../components/Slideshow_client';
import { Picture } from '@astrojs/image/components';

const hero = "https://res.cloudinary.com/khongdangky/image/upload/v1671679159/viethan/t12/image_45_w9pjfx.jpg";
---

<Baseof>
	<div class="aspect-auto">
		<Picture
        src={hero}
        widths={[400,600,900,1200,1920]}
        aspectRatio={2 / 1}
        alt="viethan adv"
        sizes="(min-width: 1200px) 100vw, 1200px"
        format="webp"
		loading="eager"
      />
	</div>
	<Poster sp={data.sp1} tem={"/tem_xophoi.svg"}/>
	<SlideshowMain client:load />
	<Poster sp={data.sp2} tem={"/tem_pefoam.svg"} reverse={true}/>
	<HomeReasons />
	<Poster sp={data.sp3} tem={"/tem_pefoam_b.svg"}/>
	<HomeFactory />
	<Poster sp={data.sp4} tem={"/tem_cachnhiet.svg"} reverse={true}/>
	
	<section class="mb-4 md:bg-blue-500 pb-8">
		<h2 class="font-bold uppercase text-xl text-center py-8 text-yellow-300">
			khách hàng nói về chúng tôi
		</h2>
		<SlideshowClient client:visible />
	</section>

	<HomeAgent />
	<HomeBenefit />
</Baseof>
