---
// import { Image } from '@astrojs/image/components';
const { Img, Alt, Code,ModalID } = Astro.props;

---
<label for={ModalID} class="modal-button">
<div class="group flex flex-col border-4 md:border-8 border-white bg-white shadow-md hover:shadow-lg transition-all duration-500">
    <div class="bg-gray-300 w-full aspect-square overflow-hidden">
        <img class="w-full h-full object-cover transition-all duration-500 group-hover:scale-125" src={Img} width="500" height="500" alt={Alt} />
    </div>

    <div class="uppercase text-center py-1 font-bold text-xs sm:text-sm">{Code}</div>

</div>
</label>


<!-- Put this part before </body> tag -->
<input type="checkbox" id={ModalID} class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative grid grid-col-1 sm:grid-cols-2 gap-4 w-4/5 max-w-3xl p-2 rounded-none">
    <label for={ModalID} class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <div class="bg-gray-300 w-full aspect-square overflow-hidden">
        <img class="w-full h-full object-cover transition-all duration-500 group-hover:scale-125" src={Img} width="500" height="500" alt={Alt} />
    </div>
    <div>
        <h3 class="text-lg font-bold">{Code}</h3>
        <p class="py-4">Mô tả / thông số kt</p>
    </div>
    <div class="col-span-1 sm:col-span-2 bg-yellow-100 h-screen">
        thông tin khác
    </div>
  </div>
</div>