---
import Baseof from './Baseof.astro';
import { Image } from '@astrojs/image/components';

const {
	content: { title, description, post_image },
} = Astro.props;


---

<Baseof PageTitle={title} PageDescription={description}>
	<article class="bg-white">
		<header class="relative py-12 lg:py-24 flex flex-col items-center justify-center bg-black">
			<Image class="absolute inset-0 w-full h-full object-cover opacity-50" src={post_image} width={500} aspectRatio={"2:1"} alt={description} />
			<h1 class="font-bold text-center text-white drop-shadow-md text-3xl z-10 max-w-lg">{title}</h1>
			<div class="my-8 z-10">
				<a class="text-white" href="/">về trang chủ</a> |
				<a class="text-white" href="/blog">về trang tin tức</a>
			</div>
		</header>

		<div class="relative z-20 blog-post bg-white mt-0 lg:-mt-24">
			<slot />
		</div>
	</article>
</Baseof>
<style>
	header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right:0;
        background: url(/bg_p1.png) repeat;
        z-index: 2;
    }	
</style>			