---
import Baseof from './Baseof.astro';
import { Image } from '@astrojs/image/components';
import OrderNow from '../components/Order_now.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		image_url?: string;
		prd_code?:string;
		prd_use?:string;
		prd_size?:string;
		prd_weight?:string;
		prd_price?:string;
		more_imgs?:any;
	};
}

const {
	content: { title, description, image_url, prd_code, prd_use, prd_size, prd_weight, prd_price, more_imgs },
} = Astro.props;


---

<Baseof PageTitle = {title} PageDescription = {description} PageImg={image_url}>
	<article>
		<div class="grid grid-cols-1 sm:grid-cols-2">
			<img class="w-full h-full object-cover" src={image_url} width="500" height="500" alt="" />
			
			<div class="sm:pt-4 bg-blue-200 p-4">
				<div class="flex justify-between">
					<div class="font-bold text-2xl text-red-700">{prd_code}</div>
					<div class="bg-black text-white uppercase btn btn-sm"><a href="/products">back</a></div>
				</div>
				<h2 class="font-bold text-2xl lg:text-3xl">{title}</h2>


				<div class="my-4 lg:my-8 grid grid-cols-3 shadow-lg">
					<div class="col-span-1 bg-white/30 p-2 lg:p-4 border border-x-0 border-t-0 border-b-white/50">công dụng</div>
					<div class="col-span-2 bg-white/20 p-2 lg:p-4 border border-x-0 border-t-0 border-b-white/50">{prd_use}</div>

					<div class="col-span-1 bg-white/30 p-2 lg:p-4 border border-x-0 border-t-0 border-b-white/50">kích thước:</div>
					<div class="col-span-2 bg-white/20 p-2 lg:p-4 border border-x-0 border-t-0 border-b-white/50">{prd_size}</div>

					<div class="col-span-1 bg-white/30 p-2 lg:p-4">trọng lượng:</div>
					<div class="col-span-2 bg-white/20 p-2 lg:p-4">{prd_weight}</div>
					
<!-- 					<div class="col-span-1 bg-white/30 p-2 lg:p-4">giá tham khảo:</div>
					<div class="col-span-2 bg-white/20 p-2 lg:p-4 font-bold">{prd_price}.000VND</div> -->
				</div>

				<div class="flex items-center p-2 lg:p-4 border-2 border-red-800">
					<p class="font-bold text-red-800 text-sm lg:text-xl mr-auto">ĐẶT HÀNG</p>
					<OrderNow />
				</div>

				<div class="bg-yellow-100 rounded-md mt-4 p-2 md:p-4">
					<ul>
						<li>+ GIAO HÀNG NGAY LẬP TỨC SAU KHI GỌI ĐẶT HÀNG.</li>
						<li>+ GIAO HÀNG NHANH HỎA TỐC SAU 30 PHÚT GỌI.</li>
						<li>+ CHIẾT KHẤU CỰC CAO - VỚI SỐ LƯỢNG NHIỀU.</li>
						<li>+ SHIP TẬN NƠI - NHẬN HÀNG THANH TOÁN.</li>
						<li>+ ĐỔI HÀNG - TRẢ HÀNG MIỄN PHÍ.</li>
						<li>+ HÀNG LUÔN CÓ SẴN NGẬP KHO.</li>
						<li>+ ĐẶC BIỆT: <strong>Miễn Phí Ship Hàng - Giao Hàng 100% toàn bộ các sản phẩm màng xốp tại nội thành Hà Nội.</strong></li>
					</ul>
				</div>

			</div>
		</div>

		{more_imgs && 
			<>
				<section class="bg-white grid grid-cols-1 sm:grid-cols-2 p-2 gap-2">
					<div class="grid grid-cols-2 gap-2">
						{more_imgs.slice(0,4).map((img) => (
							<Image class="w-full h-full object-cover" width={500} aspectRatio="1:1" format={"webp"} src={img} alt="more image product" />
						))}
					</div>
					<div>
						{more_imgs.slice(4,5).map((img) => (
							<Image class="w-full h-full object-cover" width={500} aspectRatio="1:1" format={"webp"} src={img} alt="more image product" />
						))}
					</div>
				</section>
			
			</>
		
		}


		<section class="bg-yellow-100 p-4">
			<div class="md-content">
				<slot />
			</div>
		</section>
	</article>
</Baseof>